.card-image {
  width: 32px;
  height: 32px;
}

.card-image-01 {
  background-image: url("./10.jpg");
}

.card-image-02 {
  background-image: url("./11.jpg");
}

.card-image-03 {
  background-image: url("./12.jpg");
}

.card-image-04 {
  background-image: url("./13.jpg");
}
